<div class="container">
<style>
.hidden {
    display: none;
}
</style>

		<h2 id="username">Username: <username><%= @user.username %></username> </h2>
		<h2 id="bio">Bio: <username><%= @user.bio %></username>
		<button id="changeBio" class="btn btn-primary" name = "changeBio">Change Bio</button> </h2>
		<form id="bioform" action="/changeBio" method="post">
			<textarea id = "bioarea" rows="2" cols="50" name = "bio"><%= @user.bio %></textarea><br/>
			<input id="confirmBio" class = "btn btn-primary" type="submit" value="Submit" />
		</form><br/>
		<h2 id="insta">Instagram: <username><%= @user.instagram %></username>
		<button id="changeInsta" class="btn btn-primary" name = "changeInsta">Change Instagram</button> </h2>
		<form action="/changeInsta" method="post">
			<input type="text" id = "instaText" name = "bio"><%= @user.instagram %></textarea><br/>
			<input id="confirmInsta" class = "btn btn-primary" type="submit" value="Submit" />
		</form>
      <p>ID: <uid><%= @user.id %></uid> </p>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script type="text/javascript">
	$("#bioarea").hide()
	$("#bioform").hide()
	$("#confirmBio").hide()
	$("#instaText").hide()
	$("#confirmInsta").hide()
	$('#changeBio').on('click',function(){
		$("#bioarea").show()
		$("#bioform").show()
		$("#confirmBio").show()
		$("#changeBio").remove()
	})
	$('#changeInsta').on('click',function(){
		$("#bioarea").show()
		$("#confirmBio").show()
		$("#changeBio").remove()
	})
</script>